* {
  text-decoration: none;
}

html {
  padding-bottom: 10%;
}

.navbar {
  width: 850px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}

.logo {
  background: #73BCFF;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  font-family: 'Roboto';
  border-radius: 6px;
}

.title {
  color: #73BCFF;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Open Sans';

  margin-left: 10px
}

.buttons {
  margin-left: 310px;
  display: flex;
  align-items: center;
}

.nav-btn {
  color: #73BCFF;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans';

  transition: 0.2s all;
}

.nav-btn:hover {
  border-bottom: 1px solid #73BCFF;
  padding-bottom: 5px;
  transition: 0.2s all;
}

.nav-btn:last-child {
  margin-left: 20px;
}


.content-title {
  color: #73BCFF;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans';
  font-weight: 600;

  margin: auto;
  margin-bottom: 40px;
  margin-top: 10%;

  width: 200px;
  height: 30px;

  border-bottom: 1px solid #73BCFF;
  padding-bottom: 10px;
}

.content-countries {
  margin: 0 auto;

  width: 680px;
  height: 170px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content-country {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 160px;
  height: 70px;

  border: 1px solid #73BCFF;
  border-radius: 12px;

  margin-left: 20px;
  margin-bottom: 20px;

  color: #73BCFF;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 600;

  padding-left: 20px;
  padding-right: 20px;

  transition: 0.2s all;
}

.content-country:hover {
  padding: 5px 25px 5px 25px;
  transition: 0.2s all;
}

.content-img {
  width: 60px;
  height: 40px;
}


.country {
  color: #73BCFF;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans';
  font-weight: 600;

  display: block;
  width: 500px;

  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;

  padding-left: 10px;

  border-left: 4px solid #73BCFF;
}

.country-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 150px;

  margin: auto;
}

.btn {
  width: 150px;
  height: 40px;

  background: #73BCFF;

  border: none;
  border-radius: 6px;

  outline: 0;

  margin-top: 20px;

  color: #fff;
  font-size: 24px;
  font-family: 'Open Sans';
  font-weight: 600;

}

.btn:hover {
  cursor: pointer;
}

.country-form textarea {
  border-color: #73BCFF;
  border-radius: 6px;

  outline: 0;

  width: 295px;
  height: 145px;

  margin-top: 20px;

  padding-left: 5px;
  padding-top: 5px;

  color: #A4A4A4;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 500;
}